In [1]:
import pandas
pandas.__version__

'2.0.3'

In [3]:
import pandas as pd

In [7]:
df = pd.read_csv('california_housing_train.csv')

In [8]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [13]:
df[df['population']<500][['median_house_value','population']]

       median_house_value  population
2                 85700.0       333.0
7                 48500.0       375.0
17                25000.0        64.0
19                27500.0        29.0
21                59200.0       227.0
...                   ...         ...
16944            130600.0       320.0
16951             67500.0       235.0
16969             60000.0       392.0
16982            107000.0       480.0
16994             76100.0       434.0

[1601 rows x 2 columns]

In [18]:
df[df['population'] == df['population'].min()]['households'].max()

4.0