In [37]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
pd.get_dummies(data)

    whoAmI_human  whoAmI_robot
0          False          True
1           True         False
2           True         False
3           True         False
4          False          True
5          False          True
6          False          True
7          False          True
8           True         False
9          False          True
10         False          True
11          True         False
12          True         False
13         False          True
14          True         False
15          True         False
16         False          True
17         False          True
18          True         False
19          True         False

In [39]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data['whoAmI_human'] = pd.Series(['True' if i == 'robot' else 'False' for i in data['whoAmI']])
data['whoAmI_robot'] = pd.Series(['False' if i == 'robot' else 'True' for i in data['whoAmI']])
print(data)

   whoAmI whoAmI_human whoAmI_robot
0   human        False         True
1   robot         True        False
2   robot         True        False
3   human        False         True
4   human        False         True
5   human        False         True
6   robot         True        False
7   robot         True        False
8   robot         True        False
9   robot         True        False
10  human        False         True
11  human        False         True
12  robot         True        False
13  robot         True        False
14  robot         True        False
15  human        False         True
16  robot         True        False
17  human        False         True
18  human        False         True
19  human        False         True